html {-webkit-tap-highlight-color: transparent;}


/* COMMON */
* {
	margin: 0px; padding: 0px; 
	font-family: "Noto Sans", "Noto Sans KR", sans-serif;
	line-height: 1.15; /* 1 */
}

/* COMMON */
body {margin:0; padding:0;font-family:"Noto Sans", "Noto Sans KR", sans-serif;color:#333333; width:100%; position:relative;}

#container {overflow:hidden;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input,select,textarea{margin:0;padding:0; font-family: "Noto Sans", "Noto Sans KR", sans-serif; word-break: keep-all;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
img,fieldset,iframe{border:0 none}
li{list-style:none; }
img{vertical-align:top}
img {-ms-interpolation-mode:bicubic !important}
img {-ms-interpolation-mode: nearest-neighbor !important}
/*em,*/address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0; border:0 none;background-color:transparent;cursor:pointer}
a{color:#2b2b2b;text-decoration:none}
a:hover{color:#000;text-decoration:none}
hr{display:none}
legend{*width:0}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

.imgmiddle img {vertical-align:middle!important}
.imgbottom img {vertical-align:bottom !important}

/* clearfix */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

/*
textarea {line-height:18px; margin-right:3px; padding:0px 5px; background:#ffffff; border:1px solid #b5bce5; color:#000;}
input {height:18px; line-height:18px; margin-right:3px; padding:0px 5px; background:#ffffff; border:1px solid #b5bce5; color:#000;}
*/
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.input_check,.input_radio{width:13px;height:22px;margin:0;padding:0}

/* SKIP AREA */
.skip, legend {position:absolute; left:-1000%; top:0; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden;}
.skip .hidden{ visibility:hidden; font-size:0; line-height:0;}
.skip a{ display:block; position:absolute; top:-10000em; left:0; width:100%; background-color:#000000; color:white; font:600 1.2em '돋움',dotum,helvetica,sans-serif; text-align:center;}
.skip a:hover,.skip a:active,.skip a:focus{ top:0; padding:1em 0; margin-bottom:10px; }

/* 폰트굵기 */
.letter_normal { letter-spacing:0;}
.letter_sp1 { letter-spacing: -1px !important}

.f_normal { font-weight:normal;}
.strong { font-family: 'notokr-bold'}
.strong_pink { font-family: 'notokr-bold' ; color:#ff018f}

/* 폰트크기 */
.font14 { font-size:14px;}
.font15 { font-size:15px; padding-bottom:5px}
.font16 { font-size:16px;}
.font17 { font-size:17px;}
.font18 { font-size:18px;}
.font20 { font-size:20px;}
.font22 { font-size:22px;}
.font24 { font-size:24px;}
.font30 { font-size:30px;}
.font40 { font-size:40px;}
.font22p { font-size:22px;}

/* 폰트컬러 */
.font_red { color:#ff0000 !important}
.font_blue { color:#1550c7 !important}
.font_white { color:#ffffff !important}
.font_violet { color:#7000d8 !important}
.font_gold { color:#e4c28a !important}

/* 색박스 */
.pinkbox{ padding:3px; background:#f26d7d; color:#fff; text-align:center ; text-decoration:none;}

/*버튼전체크기*/
.btn_l {text-align: left; margin : 20px 0;}
.btn_c {text-align: center; margin : 20px 0;}
.btn_c_0 {text-align: center; margin : 0;}
.btn_c_0 p {text-align: center; margin : 10px 0;}
.btn_c_10 {text-align: center; margin : 10px 0;}
.btn_r {text-align: right; margin : 20px 0;}
.btn_all { width: 100%; text-align: center; margin : 20px 0;}


/* Round style */
.round3 {border-radius:3px !important;}
.round5 {border-radius:5px !important;}

/*버튼크기*/
.btn100 {display:inline;width:100%;height:44px; }
.btn50 {display:inline;width:49.7%;height:44px;}
.btn25 {display:inline;width:25%;height:42px; }
.btn_auto{display:block;width: auto; padding:10px 30px ;}
.btn_100 {display:block;width:100%;height:50px;margin-top:15px}
.btn_50 {display: inline; width:49.2%;height:50px;margin-top:15px}
.btn_sns {display:inline;width:100%;height:44px;}
.btn_100p {display:block;width:100%;height:70px;margin-top:15px; }

/* 버튼타입 */
.btn_typew{display:block;width:100%;height:50px;margin-top:15px}
.btn_type1 {border-radius:3px   ;font-size:16px;line-height:16px;background-color:#fff;text-align:center;color:#666;vertical-align:top;border:1px solid #d2d2d2;}
.btn_type1 .ico_arr {display:inline-block;width:6px;height:12px;margin:5px 0 0 6px;background-position:-160px -50px;vertical-align:top}
.btn_type2 {border-radius:3px   ;font-size:16px;line-height:16px;background-color:#e72888;text-align:center;color:#fff;vertical-align:top}
.btn_type3 {border-radius:3px   ;font-size:16px;line-height:16px;background-color:#a4a4a4;text-align:center;color:#fff;vertical-align:top}
.btn_type4 {font-size:16px;line-height:16px;background-color:#00c56b;background-image:-webkit-linear-gradient(135deg,  #00c56b 0%, #17a3e4 50%, #1b9cff 100%);background-image:linear-gradient(135deg, #00c56b 0%, #17a3e4 50%, #1b9cff 100%);text-align:center;color:#fff;vertical-align:top}
.btn_type5 {border-radius:3px   ;font-size:16px;line-height:16px; text-align:center;color:#fff;vertical-align:top}
.btn_type6 {border-radius:3px   ;font-size:16px;line-height:16px;background-color:#1f9fe1;text-align:center;color:#fff;vertical-align:top; letter-spacing:normal}
.btn_type6_p{border-radius:3px   ;font-size:14px;line-height:22px;background:#1f9fe1 url(/images/common/phone.png) no-repeat 60px; text-align:left;color:#fff;vertical-align:top; letter-spacing:normal; background-size:28px;  padding-left: 120px}
.btn_type7 {border-radius:3px   ;font-size:16px;line-height:16px;background-color:#fbd800;text-align:center;color:#402c2d; }
.btn_type8 {border-radius:3px   ;font-size:16px;line-height:16px;background-color:#01c73c;text-align:center;color:#0e3a1c; }

.btn_type_n {border-radius:3px   ;font-size:16px;line-height:16px; text-align:left; text-indent: 35px; vertical-align:top; letter-spacing:-1px;background:#22b600 url(/images/common/icon_naver.png) no-repeat 10px;  color:#fff; text-decoration:none; background-size:17% }
.btn_type_k {border-radius:3px   ;font-size:16px;line-height:16px; text-align:left; text-indent: 35px; vertical-align:top; letter-spacing:-1px;background:#ffe400 url(/images/common/icon_ka.png) no-repeat 10px; color:#2c1800; text-decoration:none; background-size:17%  }
.btn_type_g {border-radius:3px   ;font-size:16px;line-height:16px; text-align:left; text-indent: 35px; vertical-align:top; letter-spacing:-1px;background:#b6362c url(/images/common/icon_g.png) no-repeat 10px; color:#fff; text-decoration:none; background-size:17% }
.btn_type_f {border-radius:3px   ;font-size:16px;line-height:16px; text-align:left; text-indent: 35px; vertical-align:top; letter-spacing:-1px;background:#3d5b99 url(/images/common/icon_f.png) no-repeat 10px; color:#fff; text-decoration:none; background-size:17% }

span.btn_type1 {background-color:#f0f0f0;color:#999;}

.board_button a.bigPadding { padding: 15px 30px }
.board_button button.bigPadding { padding: 25px 30px}
.board_button:after {display:block;visibility:hidden;clear:both;float:none;content:""}

/* 버튼 */
.board_button {margin: 30px 0 0 0;position:relative}
.board_button a { background: #1472ca; display: inline-block; padding: 6px 30px 6px 30px; color: #fff;}
.board_button a:hover {text-decoration:none; background:#091d3f}
.board_button .dark {background: #3bb8e9;border-color:#3bb8e9}

.bt_black a { padding:5px 7px; background:#111111; color:#fff; font-size:15px; text-align:center ; text-decoration:none; letter-spacing:-1px; border-radius: 0.25rem;}
.bt_black a:hover { background:#000000; text-decoration:none; border-radius: 0.25rem;}

.bt_gray a { padding:7px 8px; background:#9c9c9c; color:#fff;  text-align:center ; text-decoration:none; letter-spacing:-1px; font-size:15px; }
.bt_gray a:hover { background:#6b6b6b; text-decoration:none; color:#fff !important }
.bt_gray a:visited { color:#fff !important}

.bt_orange a { padding:6px 6px; background:#f76d39; color:#fff; font-size:15px; text-align:center ; text-decoration:none; letter-spacing:-1px; }
.bt_orange a:hover { background:#dd460d; text-decoration:none; color:#fff !important }

.floatR { float:right !important;}
.floatL { float:left !important;}
.floatC { margin:0 auto !important; overflow: hidden;}
.clear { clear:both !important;}
.alignR {text-align:right !important;}
.alignL {text-align:left !important;}
.alignC {text-align:center !important;}
.border_no { border:none !important;}

/* padding / margin **********************************************/
.pad_top1 { padding-top:1px !important;}
.pad_top2 { padding-top:2px !important;}
.pad_top3 { padding-top:4px !important;}
.pad_top5 { padding-top:5px !important;}
.pad_top6 { padding-top:6px !important;}
.pad_top8 { padding-top:8px !important;}
.pad_top10 { padding-top:10px !important;}
.pad_top11 { padding-top:11px !important;}
.pad_top15 { padding-top:15px !important;}
.pad_top20 { padding-top:20px !important;}
.pad_top25 { padding-top:25px !important;}
.pad_top30 { padding-top:30px !important;}
.pad_top40 { padding-top:40px !important;}
.pad_top50 { padding-top:50px !important;}
.pad_top60 { padding-top:60px !important;}
.pad_top70 { padding-top:70px !important;}
.pad_top80 { padding-top:80px !important;}
.pad_top90 { padding-top:90px !important;}
.pad_top100 { padding-top:100px !important;}
.pad_top120 { padding-top:120px !important;}
.pad_top150 { padding-top:150px !important;}
.pad_top200 { padding-top:200px !important;}
.pad_top250 { padding-top:250px !important;}
.pad_top260 { padding-top:260px !important;}
.pad_top270 { padding-top:270px !important;}
.pad_top300 { padding-top:300px !important;}

.pad_left0 { padding-left:0 !important;}
.pad_left5 { padding-left:5px !important;}
.pad_left7 { padding-left:7px !important;}
.pad_left9 { padding-left:9px !important;}
.pad_left10 { padding-left:10px !important;}
.pad_left13 { padding-left:13px !important;}
.pad_left15 { padding-left:15px !important;}
.pad_left20 { padding-left:20px !important;}
.pad_left30 { padding-left:30px !important;}
.pad_left32 { padding-left:32px !important;}
.pad_left40 { padding-left:40px !important;}
.pad_left43 { padding-left:43px !important;}
.pad_left47 { padding-left:47px !important;}
.pad_left45 { padding-left:45px !important;}
.pad_left50 { padding-left:50px !important;}
.pad_left60 { padding-left:60px !important;}
.pad_left65 { padding-left:65px !important;}
.pad_left67 { padding-left:67px !important;}
.pad_left145 { padding-left:145px !important;}
.pad_left390 { padding-left:390px !important;}
.pad_left470 { padding-left:470px !important;}
.pad_left520 { padding-left:520px !important;}
.pad_left535 { padding-left:535px !important;}
.pad_left590 { padding-left:590px !important;}
.pad_left685 { padding-left:685px !important;}

.pad_right3 { padding-right:3px !important;}
.pad_right5 { padding-right:5px !important;}
.pad_right7 { padding-right:7px !important;}
.pad_right10 { padding-right:10px !important;}
.pad_right20 { padding-right:20px !important;}
.pad_right30 { padding-right:30px !important;}
.pad_right32 { padding-right:32px !important;}
.pad_right45 { padding-right:45px !important;}
.pad_right58{ padding-right:58px !important;}
.pad_right67{ padding-right:67px !important;}
.pad_right100{ padding-right:100px !important;}

.pad_bottom5 { padding-bottom:5px !important;}
.pad_bottom7 { padding-bottom:7px !important;}
.pad_bottom10 { padding-bottom:10px !important;}
.pad_bottom15 { padding-bottom:15px !important;}
.pad_bottom20 { padding-bottom:20px !important;}
.pad_bottom25 { padding-bottom:25px !important;}
.pad_bottom30 { padding-bottom:30px !important;}
.pad_bottom35 { padding-bottom:35px !important;}
.pad_bottom50 { padding-bottom:50px !important;}
.pad_bottom70 { padding-bottom:70px !important;}
.pad_bottom100 { padding-bottom:100px !important;}
.pad_bottom120 { padding-bottom:120px !important;}
.pad_bottom150 { padding-bottom:150px !important;}
.pad_bottom247 { padding-bottom:247px !important;}

.margin_left5 { margin-left:5px !important;}
.margin_left10 { margin-left:10px !important;}
.margin_left20 { margin-left:20px !important;}
.margin_left30 { margin-left:30px !important;}
.margin_left40 { margin-left:40px !important;}
.margin_left50 { margin-left:50px !important;}
.margin_left300 { margin-left:300px !important;}

.margin_right5 { margin-right:5px !important;}
.margin_right10 { margin-right:10px !important;}
.margin_right20 { padding-right:20px !important;}
.margin_right25 { padding-right:25px !important;}
.margin_right35 { padding-right:35px !important;}

.margin_top3 { margin-top:3px !important;}
.margin_top5 { margin-top:5px !important;}
.margin_top8 { margin-top:8px !important;}
.margin_top10 { margin-top:10px !important;}
.margin_top15 { margin-top:15px !important;}
.margin_top20 { margin-top:20px !important;}
.margin_top30 { margin-top:30px !important;}
.margin_top35 { margin-top:30px !important;}
.margin_top40 { margin-top:40px !important;}
.margin_top45 { margin-top:45px !important;}
.margin_top50 { margin-top:50px !important;}
.margin_top70 { margin-top:70px !important;}
.margin_top80 { margin-top:80px !important;}
.margin_top90 { margin-top:90px !important;}
.margin_top100 { margin-top:100px !important;}
.margin_top110 { margin-top:110px !important;}
.margin_top140 { margin-top:140px !important;}
.margin_top200 { margin-top:200px !important;}
.margin_top250 { margin-top:250px !important;}
.margin_top300 { margin-top:300px !important;}

.margin_topm30 {margin-top:-30px; float:left !important}
.margin_topm50 {margin-top:-50px; float:left !important}

.margin_bottom5 { margin-bottom:5px !important;}
.margin_bottom7 { margin-bottom:7px !important;}
.margin_bottom10 { margin-bottom:10px !important;}
.margin_bottom15 { margin-bottom:15px !important;}
.margin_bottom20 { margin-bottom:20px !important;}
.margin_bottom30 { margin-bottom:30px !important;}
.margin_bottom40 { margin-bottom:40px !important;}
.margin_bottom50 { margin-bottom:50px !important;}
.margin_bottom70 { margin-bottom:70px !important;}
.margin_bottom80 { margin-bottom:80px !important;}
.margin_bottom100 { margin-bottom:100px !important;}
.margin_bottom120 { margin-bottom:120px !important;}
.margin_bottom150 { margin-bottom:150px !important;}

.tspace {padding-top:80px;}

/* =============== Display =============== */
.block { display: block; }
.inline-block { display: inline-block; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.flex-wrap{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-wrap: wrap;}
.flex-center {display: flex; align-items: center; justify-content: center;}
.flex-between {display: flex; justify-content: space-between;}
.flex-center2 {display: flex; align-items: center; justify-content: flex-start;}
.flex-column { display: flex; flex-direction: column}

.justify-start { justify-content:flex-start !important}
.justify-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.justify-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.justify-end { justify-content: flex-end; }

.items-start { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.items-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.items-end { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.align-self-start{-ms-flex-item-align: start;align-self: flex-start}
.align-self-center{-ms-flex-item-align:center;align-self: center}
.align-self-end{-ms-flex-item-align:end;align-self: flex-end}

.shrink0{flex-shrink: 0}

.img_box40 {width:40%; float:left;}
.img_box45 {width:45%; float:left;}
.img_box50 {width:50%; float:left;}
.img_box50r {width:50%; float:right;}
.img_box55 {width:55%; float:left;}
.img_box60 {width:60%; float:left;}
.img_box100 {width:100%; clear: both; overflow: hidden}
.img_box100 img {width:100% !important}



/* ==================================================================
    Animation 및 효과 설정부분
===================================================================== */


/* ========== Aos (fade) ========== */
[data-aos=fade-up2] { transform: translate3d(0, 30px, 0);}
[data-aos=fade-down2] { transform: translate3d(0, -30px, 0);  }
[data-aos=fade-right2] { transform: translate3d(-30px, 0, 0); }
[data-aos=fade-left2] { transform: translate3d(30px, 0, 0); }
[data-aos=fade-up-right2] { transform: translate3d(-30px, 30px, 0); }
[data-aos=fade-up-left2] { transform: translate3d(30px, 30px, 0); }
[data-aos=fade-down-right2] { transform: translate3d(-30px, -30px, 0); }
[data-aos=fade-down-left2] { transform: translate3d(30px, -30px, 0); }
[data-aos=fade-in] { transform: translate3d(0, 0, 0); }
/* ========== Aos (zoom) ========== */
[data-aos*="bg-zoom-out"]{transform: scale(1.1)}
[data-aos*="bg-zoom-out"].aos-animate {transform: scale(1);}
[data-aos*="bg-zoom-in"]{transform: scale(1)}
[data-aos*="bg-zoom-in"].aos-animate {transform: scale(1.1);}

/* ========== Aos (reveal) ========== */
[data-aos="reveal-line"]{clip-path:polygon(0 0,0 0,0 100%,0 100%);}
[data-aos="reveal-line"].aos-animate {clip-path: polygon(0 0,100% 0,100% 100%,0 100%)}
[data-aos="reveal-line-revers"]{clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%)}
[data-aos="reveal-line-revers"].aos-animate {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)}

[data-aos="reveal-line-half"]{clip-path:polygon(0 0,50% 0,50% 100%,0 100%);}
[data-aos="reveal-line-half"].aos-animate {clip-path: polygon(0 0,100% 0,100% 100%,0 100%)}
[data-aos="reveal-line-half-revers"]{clip-path:polygon(50% 0,100% 0,100% 100%,50% 100%);}
[data-aos="reveal-line-half-revers"].aos-animate {clip-path: polygon(0 0,100% 0,100% 100%,0% 100%)}

[data-aos="reveal-top"]{clip-path:polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);}
[data-aos="reveal-top"].aos-animate {clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);}
[data-aos="reveal-bottom"]{clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
[data-aos="reveal-bottom"].aos-animate {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
[data-aos="reveal-circle"]{clip-path: circle(0% at 50% 50%);}
[data-aos="reveal-circle"].aos-animate {clip-path:  circle(100% at 50% 50%);}
[data-aos="reveal-open"]{clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%)}
[data-aos="reveal-open"].aos-animate {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)}


/* ========== Aos (animation 효과로 설정) ========== */
[data-aos="title"]{ opacity: 0;}
[data-aos="title"].aos-animate {animation: title 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;}
[data-aos="tit_mini"]{ opacity: 0;}
[data-aos="tit_mini"].aos-animate {animation: tit_mini 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;}
[data-aos="focus"]{ opacity: 0;}
[data-aos="focus"].aos-animate {animation: focus 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

.pc {display:block !important;}
.m {display:none !important;}

@media all and (max-width:1300px) and (min-width:768px) {
/* 폰트크기 */
.font14 { font-size:14px;}
.font15 { font-size:15px; padding-bottom:5px}
.font16 { font-size:0.85rem;}
.font17 { font-size:17px;}
.font18 { font-size:18px;}
.font20 { font-size:20px;}
.font22 { font-size:22px;}
.font24 { font-size:24px;}
.font30 { font-size:30px;}
.font40 { font-size:40px;}
.font22p { font-size:22px;}
	
.pc {display:none !important;}
.m {display:block !important;}
}

@media all and (max-width:767px) and (min-width:0px) {	
/* 폰트크기 */
.font14 { font-size:14px;}
.font15 { font-size:15px; padding-bottom:5px}
.font16 { font-size:0.85rem;}
.font17 { font-size:17px;}
.font18 { font-size:18px;}
.font20 { font-size:20px;}
.font22 { font-size:22px;}
.font24 { font-size:24px;}
.font30 { font-size:30px;}
.font40 { font-size:40px;}
.font22p { font-size:22px;}
	
.pc {display:none !important;}
.m {display:block !important;}
}
